* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;
    max-width: 500px;
}


.main-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    align-items: center;
}

.main-header__icon {
    width: 35px;
    margin: 10px;
}

.main-header__nav {
    display: flex;

}

.main-header__nav ul {
    list-style: none;
}

.main-header__nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}


.profile {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.profile__photo {
    object-fit: cover;
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 0 20px 0 0;
}

.profile__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.5;
    font-size: larger;
}


.about {
    margin-bottom: 20px;
}

.about__header {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.about__text {
    font-size: .8rem;
}


.work-experience {
    margin-bottom: 20px;
}

.work-experience__header {
    margin-bottom: 10px;
    font-size: 1.25rem;
}


.job {
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.job__title {
    font-size: .9rem;
    margin-bottom: 5px;
}

.job__company {
    font-size: .8rem;
    margin-bottom: 5px;
}

.date-container {
    flex: 1;
}

.job__date {
    font-size: .9rem;
    color: gray;
    margin-top: 10px;
}
.job-description-container {
    flex: 3;
    margin-left: 10px;
}


.job__company{
    color: lightgray;
}
.job__description {
    font-size: .8rem;
    margin-bottom: 5px;
    color: darkgrey;
}



p {
    color: gray;
    font-size: .75rem;
}

.text-link {
    color: grey;
    text-decoration: none;
}

.text-link:hover {
    color: white;
    text-decoration: underline;
}